@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  background-color: black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
  /* justify-content: center; */
}

.form {
  background-color: black;
  color: white;
  margin-bottom: 30rem;
  width: 30rem;
  margin: auto;
  border: solid 0.15rem #999999;
  box-shadow: 0 0  1rem red ;
  max-width: 35rem;
}
h1 {
  text-align: center;
  font-size: 1.5rem;
}

.nameAndLogo {
  display: flex;
  width: fit-content;
  margin: auto;
}

.nameAndLogo img {
  width: 2rem;
  margin: 4px;
  animation: rotate__ 1.5s infinite ease;
  transition: 3s;
}

@keyframes rotate__{
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
   transform: rotate(30deg);
  }
  60% {
 transform: rotate(15deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
.passcodeText {
  text-align: center;
  color: #999999 ;
}

.formDets {
  margin: auto;
  width: fit-content;
  
}

.formData{
  margin: 10px;
  display: flex;
  background-color: rgb(67, 63, 63);
  border: 5rem;
  border-radius: 5px;
  padding: 7px 15px;
}
input {
   background-color: rgb(67, 63, 63) ;
  outline: none;
}

input::placeholder {
  text-align: start;
  color: #999999 ;
  font-size: 0.8rem;
}
.buttonDiv{
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}
button {
  cursor: pointer;
  color: white;
  width: 7rem;
  padding: 13px;
  background-color: rgb(174, 5, 5);
  border: none;
  border-radius: 12px;
  width: 10rem;
  margin: auto;
}
.icons{
  display: flex;
  /* background-color: aqua; */
  width: 100%;
  max-width: 17rem;
  margin: auto;
}
.iconWithWriteUp {
  margin: auto;
  padding: 3px 10px;
  margin-bottom: 2rem;
  border: solid 0.1rem gray;
  border-radius: 5px;
}
.iconWithWriteUp img {
  width: 2rem;
  margin: 5px;
  cursor: pointer;
  animation: fullTurn 3s ease-in;
}

@keyframes fullTurn {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(22.5deg);
  }
  20% {
   transform: rotate(45deg);
  }
  30% {
 transform: rotate(22.5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-22.5deg);
  }
  60% {
   transform: rotate(-45deg);
  }
  70% {
 transform: rotate(-22.5deg);
  }
  80% {
    transform: rotate(0deg);
   }
   90% {
  transform: rotate(22.5deg);
   }
  100% {
    transform: rotate(0deg);
  }
}

p {
  color: #999999;
  font-size: 0.8rem;
  text-align: center;
}
a {
  margin: 10px;
  font-size: 0.7rem;
  color: red;
  /* margin-bottom: 50px; */
}

@media screen and (max-width:600px){
  .form{
    width: fit-content;
    padding: 20px;
  }
}