@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* body{
  margin: 0px;
}

nav{
position: fixed;
background-color: #242424;
display: flex;
flex-direction: column;
padding: 10px;
width: 30%;
max-width: 18rem;
height: 100%;
left: 0;
top: 0;
}
#hambe{
  display: none;
}
.image_and_text p {
  color: white;
  font-size:1.6rem;
  font-family: 'Poppins', sans-serif;
}
section{
  display: flex;
}
.hamburger{
  width: 2rem;
margin-left: auto;
transition: 3s;
}

.description{
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
 font-family: 'Poppins';
 font-size: 14px;
margin: auto;
color: rgb(127, 25, 25);
display: none;
animation: pop_in 0.5s ease-in;
}

@keyframes pop_in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.image_and_text img {
  width: 2.3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.image_and_text img{
  cursor: pointer;
  animation: turn 4s ease-in;
  /* background-color: rgb(176, 171, 171); */
  /* border-radius: 50%; */
}

.image_and_text{
  display: flex;
  width: 80%;
  align-items: center;
  height: 2.2rem;
  margin: auto;
}

.hamburger{
  transition: 3s;
}

.hamburger:active{
  cursor: pointer;
}

#close:hover{
  box-shadow: 0 0 0.7rem rgb(255, 9, 50);
  border: 0px;
}
#hambe{
  box-shadow: 0 0 0.7rem rgb(255, 9, 50);
  border: 0px;
}

.close{
  animation: close 1s ease forwards;
  transition:  3s ease;
}

.open {
  animation: open_ 1s  ease forwards;
  transition:  3s ease;
}

.antirotate{
  animation: antirotate 1s ease;
  transition: 15s;
}

.rotate{
  animation: rotate 1s ease;
  transition: 15s;
  }


@keyframes antirotate{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-45deg);
  }
  50%{
    transform: rotate(-90deg);
  }
  75%{
    transform: rotate(-135deg);
  }
  100%{
    transform: rotate(-180deg);
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(45deg);
  }
  50%{
    transform: rotate(90deg);
  }
  75%{
    transform: rotate(135deg);
  }
  100%{
    transform: rotate(180deg);
  }
}


@keyframes close{
0%{
  width: 40%;
}
25%{
  width:30%
}
50%{
  width: 20%;
}
75%{
  width: 10%;
}
100%{
  width: 8%;
}
}

@keyframes open_ {
  0%{
    width: 8%;
  }
  25%{
    width:10%
  }
  50%{
    width: 20%;
  }
  75%{
    width: 30%;
  }
  100%{
    width: 40%;
  }
}

@keyframes turn{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.options{
  display: flex;
  width:60% ;
  margin: auto;
  
}
.rocketMan img{
  animation: rotateImage 4s infinite;
  transform-origin: center;
}

@keyframes rotateImage{
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
   transform: rotate(-15deg);
  }
  75% {
 transform: rotate(30deg);
  }
}

.options img{
  height: 1.8rem;
  width: 1.8rem;
  margin: 10px;
}

.options p {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Poppins', sans-serif;
  color:rgba(255, 255, 255, 0.2);
}

.options :hover{
  cursor: pointer;
  transition: 2s;
  background-color: #242424;
}

.options p:hover{
  transition: 2s;
  color: white;
}
 .rocketMan img {
  width: 70%;
 }

.article{
  width: 70%;
}
 #search{
  max-width: 20rem;
  width: fit-content;
 }

input{
color: white;
font-family: 'Poppins',sans-serif;
background-color: #242424;
border: none;
}

 input::placeholder{
font-family: 'Poppins',sans-serif;
font-size: 1rem;
 }

 .rocketMan{
  font-family: 'Poppins';
  color: white;
  text-align: center;
  border: 1rem;
  box-shadow: 0 0 1rem black;
  width: fit-content;
 }
 /* .article{
  background-color: #242424;
  padding: 10px;
  border-radius: 2rem;
  border-color: black;
  border:none;
  margin-left: 40%;
  width:40%;
  background-color: #242424;
  margin-top: 5%;
  display: flex;
 } */

 input:focus {
  outline: none;
}

/* .article img{
  width: 2rem;
  margin-left: auto;
} */



 @media screen and (max-width:550px) {
  nav{
    width: 40%;
  }
  .image_and_text p {
    color: white;
    font-size:1.2rem;
    font-family: 'Poppins', sans-serif;
  }
  .options:hover .description{
    display: block;
    font-size: 12px;
    color: rgb(174, 5, 5);
    padding: 6px;
    }
 .options p{
  display: none;
 }
 .options{
  width: unset;
 }
 .image_and_text {
  width: unset;
 }
 .options img{
  width: 2rem;
  height: 2rem;
  margin: auto;
 }
 .hamburger{
   transition: left 3s;
  }
  .rotate{
    animation: rotate 1s ease-in;
    transition:  15s;
  }
  

  
  #home:hover{
     content: url('../assets/home_hover.svg');
 }
  
  #artist:hover{
  content: url('../assets/artist_hover.svg');

}
#liked:hover{
  content: url('../assets/heart_hover.svg');
}
#account:hover{
  content: url('../assets/account_hover.svg');
}
#premium:hover{
  content: url('../assets/premium_hover.svg');
}
#playlist:hover{
  content: url('../assets/playlist_hover.svg');
}
 }