@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* body{
  margin: 0px;
}

nav{
position: fixed;
background-color: #242424;
display: flex;
flex-direction: column;
padding: 10px;
width: 30%;
height: 100%;
left: 0;
top: 0;

}
.image_and_text p {
  color: white;
  font-size:1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Poppins', sans-serif;
}
section{
  display: flex;
}
.hamburger{
  width: 2rem;
margin: auto;
}

.image_and_text img {
  width: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.image_and_text{
  display: flex;
  width: fit-content;
  align-items: center;
  height: 2.2rem;
  margin: auto;
}

.hamburger{
  transition: 3s;
}

.hamburger:hover{
  cursor: pointer;
  box-shadow: 0 0 0.1rem pink;
  border: 0px;
  
}

.options{
  display: flex;
  width:60% ;
  margin: auto;
  
}
.options img{
  width: 1.8rem;
  margin: 3px;
}

.options p {
  font-family: 'Poppins', sans-serif;
  color:rgba(255, 255, 255, 0.2);
}

.options :hover{
  cursor: pointer;
  transition: 2s;
  background-color: #242424;
}

.options p:hover{
  transition: 2s;
  color: white;
}
 img {
  width: 70%;
 }
.article{
  width: 70%;
}
 #search{
  max-width: 20rem;
  width: 70%;
  background-color: #242424;
  padding: 15px;
  border-radius: 2rem;
  border-color: black;
  border:none;
  margin-top: 5%;
  margin-left: 60%;
 }

input{
color: white;
font-family: 'Poppins',sans-serif;

}
 input::placeholder{
font-family: 'Poppins',sans-serif;
font-size: 1rem;
 }

 .musicMan{
  font-family: 'Poppins';
  color: white;
  text-align: center;
 }

 @media screen and (max-width:550px) {
 .options p{
  display: none;
 }
 .options img{
  width: 2rem;
  height: 2rem;
  margin: auto;
 }
 #home:hover{
    content: url('../assets/home_hover.svg');
}
#artist:hover{
  content: url('../assets/artist_hover.svg');

}
#liked:hover{
  content: url('../assets/heart_hover.svg');
}
#account:hover{
  content: url('../assets/account_hover.svg');
}
#premium:hover{
  content: url('../assets/premium_hover.svg');
}
#playlist:hover{
  content: url('../assets/playlist_hover.svg');
}
 }