body {
  background-image: url('../assets/taylor\ with\ book.jpg');
  background-position: center;
  background-attachment: fixed;
}
nav {
  opacity: 0.8;
}

.background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: changingImages 8s infinite;
}

.backgrounDiv {
  /* position: fixed; */
  background-color: rgba(0, 0, 0, 0.5); 
  
}


@keyframes changingImages {
  0% {
    content: url('../assets/phone taylor.jpg');
  }
 10% {
   content: url('../assets/weekend.jpg');
  }
  20% {
    content: url('../assets/taylorBook.jpg');
  }
 30% {
  content: url('../assets/weekend2.jpg');
 }
 40% {
  content: url('../assets/wizkid.jpeg');
 }
 50% {
  content: url('../assets/Davido.jpeg');
 }
 60% {
   content: url('../assets/drake.jpg');
 }
70% {
 content: url('../assets/harryStyles.jpeg');
}
80% {
 content: url('../assets/Sia.jpeg');
}
90% {
  content: url('../assets/harryStyles2.jpeg');
 }
 100% {
  content: url('../assets/drake.jpg');
 }
}